<router-outlet></router-outlet>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <div class="alert alert-primary " role="alert">
            TODO APP
          </div>
        </h5>       
        
            <div class="input-group flex-nowrap mb-2">
              <!-- <input #input type="text" class="form-control" placeholder="Enter To Do" aria-label="To Do"  [(ngModel)]="text"
                name="inputTodo" aria-describedby="addon-wrapping"> -->
              <div class="input-group-append">
                <a href="#" class="btn btn-outline-info" (click)="onItemAdd()">
                  <span class="iconify" data-icon="gridicons:add" data-inline="false" style="color: black; "></span>
                </a>
              </div>
            </div>

            
            <ul class="list-group " *ngFor="let item of list;let i = index;">
              <div class="input-group ">
                <li id={{i}} class="form-control" (click)="onCheck(i)">
                  <span class=" iconify" [attr.data-icon]="item.icon" data-inline="false" style="color: green;"></span>
                  {{item.text}}
                </li>
                <div class="input-group-append">
                  <a href="#" class="btn btn-outline-secondary" (click)="onDelete(i)">
                    <span class="iconify" data-icon="fa-regular:trash-alt" data-inline="false"
                      style="color: red;"></span>
                  </a>
                </div>
              </div>
            </ul>
       
     

      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>